.katalog {
  display: block;
  position: relative;
  top: 5rem;
}

.katalog ul {
  display: flex;
  justify-content: center;
  text-align: center;
}

.katalog li {
  margin-bottom: 3rem;
}

.katalog h3 {
  color: #ffff;
  font-size: 2.5rem;
}

.katalog span {
  color: #ffff;
}

.info {
  font-size: 1.5rem;
  font-weight: 200;
}

.price {
  font-size: 1.9rem;
  float: right;
  position: absolute;
  right: 12rem;
  bottom: 3rem;
}
