.footstyle {
  text-align: center;
  font-size: 1.8rem;
  background-color: #1d1d1d;
  width: 100%;
  height: 15rem;
  position: absolute;
}

.footstyle li a {
  text-decoration: none;
  color: #fff;
}

.pos {
  position: absolute;
  top: 4rem;
  left: 60%;
}

.pos ul {
  display: flex;
  justify-content: space-around;
  width: 400px;
}

.pos ul li img {
  width: 70%;
}

.fb {
  background-color: #fff;
}

.tel {
  text-align: left;
  position: relative;
  top: 4rem;
  left: 20%;
  color: #fff;
  width: 30%;
}
