svg {
  position: relative;
  top: 10px;
}

.footstyle {
  text-align: center;
  font-size: 1.4rem;
  background-color: #1d1d1d;
  width: 100%;
  position: absolute;
}

.footstyle li a {
  text-decoration: none;
  color: #fff;
}

.pos {
  position: relative;
  top: 2.5rem;
}

.tel {
  text-align: left;
  position: relative;
  bottom: 2rem;
  left: 10rem;
  color: #fff;
  width: 30%;
}
