.katalog {
  display: block;
  text-align: center;
}

.katalog h3 {
  color: #ffff;
  font-size: 2.2rem;
}

.katalog span {
  color: #ffff;
}

.info {
  font-size: 1.4rem;
}

.price {
  font-size: 1.8rem;
}
