.katalog {
  display: block;
  text-align: center;
  margin-top: 12rem;
}

.katalog h3 {
  color: #ffff;
  font-size: 2.2rem;
}

.katalog span {
  color: #ffff;
}

.info {
  font-size: 1.4rem;
}

.price {
  font-size: 1.9rem;
  float: right;
  position: relative;
  right: 10rem;
  bottom: 3rem;
}
